// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.thumbnail {
 width: 80px;
 
 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
 }
 
}